{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Add New Assignment</h2>


<form method="POST">

    {{ form.hidden_tag() }}


    <div class="mb-3">
        {{ form.title.label }}

        {{ form.title(class="form-control") }}
    </div>


    <div class="mb-3">
        {{ form.course.label }}

        {{ form.course(class="form-control") }}
    </div>


    <div class="mb-3">
        {{ form.deadline.label }}

        {{ form.deadline(class="form-control") }}
    </div>
    <div class="mb-3">{{ form.status.label}}

        {{ form.status(class="form-control")}}
    </div>


    <div>
        {{ form.submit(class="btn btn-primary") }}
    </div>


</form>


{% endblock %}